/SPM-Modular-Programming.xcodeproj/project.xcworkspace/xcuserdata
Packages/Entry/.swiftpm/xcode/xcuserdata/fraser.scottmorrison.xcuserdatad/xcschemes/xcschememanagement.plist
/Packages/Tools/.swiftpm/xcode/package.xcworkspace/xcuserdata
